body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.homeview {
  display: flex;
  flex-direction: row;
}

img {
  height: 150px;
}

#save-button {
  float: right;
}

/* .modal {
  display : none;
  background-color: chocolate;
  position: fixed;
  z-index: 110;

} */

.modal {
  position: fixed;
  z-index: 1;
  /* width: 100%;
  height: 100%; */
  /* background-color: rgba(0, 0, 0, 0.25); */
}

.modal_content {
  background-color: chocolate;
  position: absolute;
  /* top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px; */
  border: 2px solid black;
}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: cyan;
  cursor: pointer;
}

#draw-button {
  color: grey;
}
